.container {
  max-width: 1280px;
  position: relative;
  padding: 0 1.5rem;
  margin: auto;
  text-align: center; }

.emphasis {
  color: #0f6bff;
  font-style: italic; }

.card {
  border-radius: 20px;
  background-color: white;
  border: 5px solid #0f6bff;
  padding: 1rem 1.75rem;
  line-height: 1.5; }
  .card h1 {
    color: #073d7a;
    padding-bottom: .5rem;
    font-size: 1.75rem; }
  .card p {
    font-size: 1.25rem;
    justify-content: center;
    align-items: center; }
  .card a {
    font-size: 1.25rem; }
  .card span {
    font-weight: bold; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  font-family: 'Nunito', sans-serif;
  background: #f6f6f6; }

#main-nav {
  padding: 2rem 0;
  background: #0f6bff;
  color: white; }
  #main-nav .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #main-nav #nav-left {
    display: flex;
    justify-content: center; }
    #main-nav #nav-left img {
      height: auto;
      width: auto;
      max-height: 5rem; }
    #main-nav #nav-left h2 {
      font-size: 3rem;
      line-height: 1.2; }
    #main-nav #nav-left span {
      float: left;
      color: #073d7a; }
  #main-nav #nav-right {
    display: flex;
    list-style-type: none;
    font-size: 1.25rem; }
    #main-nav #nav-right li {
      padding-left: 2rem; }
    #main-nav #nav-right a {
      transition: all .5s;
      color: white; }
      #main-nav #nav-right a:hover {
        color: #073d7a; }
    #main-nav #nav-right .current {
      color: #073d7a;
      font-weight: bolder; }

#home-a {
  margin: 3rem 0;
  padding: 1.5rem 0;
  background: white; }
  #home-a #header {
    display: flex;
    align-items: center;
    justify-content: center; }
    #home-a #header img {
      height: auto;
      width: auto;
      max-height: 350px; }
    #home-a #header h1 {
      font-size: 2.25rem;
      text-align: center;
      color: #073d7a;
      padding-right: 2rem;
      padding-left: 2rem;
      font-style: italic; }

#home-b {
  margin: 3rem 0; }
  #home-b .container {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 'op op' 'e c'; }
  #home-b #our-prosthetics {
    grid-area: op; }
  #home-b #experience {
    grid-area: e; }
  #home-b #coverage {
    grid-area: c; }

#footer {
  padding: 3rem;
  background: #0f6bff;
  color: white; }
  #footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #footer #footer-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
    #footer #footer-right h1 {
      font-size: 1.5rem; }
    #footer #footer-right p {
      padding-top: .75rem; }

#about {
  margin: 3rem 0; }
  #about h1 {
    background: #0f6bff;
    color: white;
    text-align: left;
    font-size: 1.75rem;
    padding: .25rem 1.5rem;
    border-radius: 25px; }
  #about h3 {
    padding: 1rem;
    color: #073d7a;
    font-size: 1.5rem; }
  #about p {
    font-size: 1.2rem;
    line-height: 1.5; }
  #about .about-us {
    padding-bottom: 1rem; }
  #about .background .background-content {
    display: flex;
    padding: 1rem; }
    #about .background .background-content h3 span {
      font-style: italic;
      color: #0f6bff; }
    #about .background .background-content img {
      height: auto;
      width: auto;
      min-width: 150px;
      min-height: 188px; }
    #about .background .background-content .details {
      padding: 0 1rem; }
